.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 0%
    right: 15%
  &-2
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 15%
    right: 70%
  &-3
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 65%
    right: 0%
  &-4
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 65%
    right: 80%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

@keyframes float2
  0%
    transform: translateX(20px)

  100%
    transform: translateX(0px)

.banner-interno__fondo
  background-image: url("../assets/curso/portada/img1.png") !important

.tarjeta.tarjeta--azul
  background-image: url(../assets/curso/tema1/img1.svg)
  background-repeat: no-repeat
  background-size: cover

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #D40A32
.slyder-a__bullets__item
  background-color: #DF949A
  @media (max-width: 450px)
    margin: 0 5px
  @media (max-width: 400px)
    margin: 0 4px

.slyder-a__bullets__item--active
  background-color: #D40A32

.tabla-a thead
  background-color: #F0B62A

.tarjeta.tarjeta--gris.acordion__activo
  background-color: #F1EBDD

.linea-tiempo-d__item__content.tarjeta.tarjeta--gris
  background-color: #FAE5B4

.bg
  &-c1
    background-image: url(../assets/curso/intro/img1.svg)
    background-repeat: no-repeat
    margin-inline: -3.2rem !important
    background-size: contain
  &-c2
    background-color: #F0B62A
    height: 250px
    @media screen and ( max-width: $bp-max-lg )
      height: 310px
    @media screen and ( max-width: $bp-max-md )
      height: 280px
    @media screen and ( max-width: $bp-max-sm )
      height: 330px
    @media screen and ( max-width: $bp-max-xs )
      height: 390px
  &-c3
    background-image: url(../assets/curso/tema1/img2.svg)
    background-repeat: no-repeat
    margin-inline: -3.2rem !important
    background-size: contain
    background-position: bottom
  &-c4
    background-color: #FAE5B4
    border-radius: 15px
  &-c5
    background-color: #F1EBDD
    border-radius: 15px
    transition: all 0.5s ease
  &-c5:hover
    background-color: #F0E0B8
    transition: all 0.5s ease
  &-c6
    background-color: #F1EBDD
  &-c7
    position: relative
    left: -2%
    background-color: #2B2B2D
    border-top-right-radius: 15px
    border-bottom-right-radius: 15px
    h3
      color: white
    @media screen and ( max-width: $bp-max-lg )
      left: -3%
    @media screen and ( max-width: $bp-max-sm )
      left: -4%
  &-c8
    background-image: url(../assets/curso/tema1/img15.svg)
    background-repeat: no-repeat
    margin-inline: -3.2rem !important
    background-size: 1400px
    background-position: bottom
  &-c9
    background-color: #FAE5B4
  &-c10
    background-color: #F1EBDD
    border-bottom-left-radius: 15px
    border-bottom-right-radius: 15px
    transition: all 0.5s ease
    height: 240px
    @media screen and (max-width: $bp-max-xl)
      p.text-desc
        font-size: 0.9em
    @media screen and (max-width: $bp-max-lg)
      height: 310px
      p.text-desc
        font-size: 0.9em
  &-c10:hover
    background-color: #F0E0B8
    transition: all 0.5s ease
  &-c11
    background-color: #FAE5B4
    border-radius: 15px
  &-c12
    background-color: #FAE5B4
    border-radius: 28px
  &-c13
    background-image: url(../assets/curso/tema3/img10.svg)
    background-repeat: no-repeat
    margin-inline: -3.2rem !important
    background-position: top
  &-c14
    background-color: #F0B62A

.txt
  &-c1
    background-color: #FAE5B4


.row-bg-c6
  background-color: #F1EBDD

@media screen and (max-width: $bp-max-md)
  .row-bg-c6
    background-color: #fff

@media (max-width: $bp-max-xl)
  .banner-principal .tarjeta
    background-image: url('../assets/curso/portada/fondo-banner-resonsive.png') !important
    background-position: top left

p.lh-sm
  font-size: 0.95em

.bg-gradient-izq
  background: rgb(255,243,205);
  background: linear-gradient(90deg, rgba(255,243,205,.3) 13%, rgba(255,243,205,0) 100%) !important
.bg-gradient-der
  background: rgb(255,243,205);
  background: linear-gradient(90deg,rgba(255,243,205,0) 13% , rgba(255,243,205,.3) 100%) !important

//Margen negativo ////R
.mn
  margin: 0 -3rem
  padding: 3rem

.bg-white
  background: white !important

.bg-color-secundario
  background-color: $color-secundario

.br-bottom
  border-bottom-left-radius: 12px
  border-bottom-right-radius: 12px